//META{"name":"Ichigo & ZeroTwo Theme","description":"An Darling in the Franxx Ichigo & ZeroTwo Discord Theme!","author":"CRYPTO","version":"1.0"}*//

@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://codedotspectra.github.io/themes/core/hljs.css");

:root {
  --themeColor1: #334454;
  --themeColor2: #334454;
  --customFont: 'Open sans', sans-serif;
  --homeImage: url('https://cdn.discordapp.com/attachments/536501170353602627/731817848225398834/circle-cropped_3.png');
  --homeImageSize: cover;
  --backgroundColor: transparent;
  --backgroundImage: url('https://cdn.discordapp.com/attachments/536501170353602627/731818997216968765/Ichigo__Zerotwo.jpg');
  --backgroundPosition: center;
  --backgroundSize: cover;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 0px;

}