//META{"name":"ZeroTwo Neon-City","description":"An Darling in the Franxx 002 Discord Theme!","author":"CRYPTO","version":"1.1"}*//

@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://codedotspectra.github.io/themes/core/hljs.css");

:root {
  --themeColor1: #EF4958;
  --themeColor2: #EF4958;

  --customFont: 'Open sans', sans-serif;

  --homeImage: url('https://media.discordapp.net/attachments/536501170353602627/731805032617345064/circle-cropped_1.png');
  --homeImageSize: cover;

  --backgroundColor: transparent;
  --backgroundImage: url('https://media.discordapp.net/attachments/536501170353602627/731795493205573662/unknown.png?width=1250&height=677');
  --backgroundPosition: center;
  --backgroundSize: cover;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 0px;

}